/* Overall site styling */


/* Header grid switches 2:1 layout for mobile and tablet to 1:2 layout on desktop using standard media
sizing as found on W3schools */

.head_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Large devices (laptops/desktops, 992px and up)*/
@media only screen and (min-width: 992px) {
  .head_grid {
    display: grid;
    grid-template-columns: 100%;
  }

}

/* Header */

header {
  background-color: #24d9f1;
}

/* Nav styling */

nav ul {
  list-style: none;
}

/*Set up grid for responsiveness*/
/*Mobile view as standard*/
.main_grid{
  display: grid;
  grid-template-columns: 1fr;
}  

  /* Banner image */

  #banner {
    background-image: url(../images/bannersml.png);
    height: 150px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

/* Small devices (portrait tablets and large phones, 600px and up)*/
 @media only screen and (min-width: 600px) {
  .main_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* Banner image changes for larger screens */
  #banner {
    background-image: url(../images/banner2.png);
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  }
  
  /* Large devices (laptops/desktops, 992px and up)*/
  @media only screen and (min-width: 992px) {
    .main_grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    /* banner image changes for larger screens*/
    #banner {
      background-image: url(../images/banner2.png);
      height: 250px;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      grid-column-start: 1;
      grid-column-end: 5;
    }
  }