@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/* Overall site styling */

body {
  margin: 0;
  font-family: 'Quicksand', Arial, sans-serif;

  overflow-x: hidden; /* hides the pop out menu  */
}

/* Set fonts to be responsive on smaller screens */
@media only screen and (max-width: 600px) {

  h1 {
    font-size: 4vw;
  }

  h2 {
    font-size: 3vw;
  }

  p {
    font-size: 2.5vw;
  }

  /* And a class to use to hide larger elements on phone screens */

  .mobile_hide {
    display: none;
  }

}

/* Header */

#sticky_title {
  background-color: #24d9f1;
  height: 6vw;
}

h1 {
  display: inline-block;
  text-transform: uppercase;
  color:#4d4c4f;
  margin: 5px;
}

/* Hamburger menu code by Erik Terwan https://codepen.io/erikterwan/pen/grOZxx */

nav a
{
  text-decoration: none;
  color: #4d4c4f;
  transition: color 0.3s ease;
}

nav a:hover
{
  color: white;
  background-color: #4d4c4f;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 1.5vw;
  right: 1.5vw;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 4vw;
  height: 3vw;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 3vw;
  height: 0.4vw;
  margin-bottom: 0.5vw;
  position: relative;
  background: #4d4c4f;
  border-radius: 0.3vw;
  z-index: 1;
  transform-origin: 0.3vw 0vw;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #4d4c4f;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 125px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  
  background: #24d9f1;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 5px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
  opacity: 1;
}

@media screen and (max-width: 600px) {
  #menu {
    transform: none;
    opacity: 0;

    transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
}

/*Set up grid views for responsiveness*/
/*Mobile view as standard*/
.main_grid, .review_grid{
  display: grid;
  grid-template-columns: 1fr;
}  

  /* Banner image */

  #banner {
    background-image: url(../images/bannersml.png);
    height: 150px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

/* Small devices (portrait tablets and large phones, 600px and up)*/
 @media only screen and (min-width: 600px) {
  .review_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* Banner image changes for larger screens */
  #banner {
    background-image: url(../images/banner2.png);
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  }
  
  /* Large devices (laptops/desktops, 992px and up)*/
  @media only screen and (min-width: 992px) {
    .review_grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    /* banner image changes for larger screens*/
    #banner {
      background-image: url(../images/banner2.png);
      height: 250px;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      grid-column-start: 1;
      grid-column-end: 5;
    }
  }

  /* Main page content */

  .box1 {
    color: #4d4c4f;
    border-style: solid;
    border-width: 1px;
    border-color: #4d4c4f;
    margin: 5px;
    padding: 2px
  }

  .box2 {
    color: #24d9f1;
    background-color: #4d4c4f;
    border-style: solid;
    border-width: 1px;
    border-color: #24d9f1;
    margin: 5px;
    padding: 2px;
  }

  .box3 {
    color: #4d4c4f;
    border-style: solid;
    border-width: 1px;
    border-color: #4d4c4f;
    margin: 5px;
    padding: 2px;
  }

  .div_pic {
    text-align: center;
  }

  .grid_pic {
    width: 100%;
    max-width: 600px;
  }

  #welcome_pic {
    float: left;
    margin: 5px;
  }

  /* Flex of requirement for splitting boxes into 2 columns */

  .flex_main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .flex_main_r {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  /* Respond to larger screen sizes */

  @media (min-width: 600px) {
    .flex_main, .flex_main_r {
      flex-direction: row;
    }
  }

  /* Footer */

  footer {
    background-color: #24d9f1;
    color: #4d4c4f;
  }

  footer a {
    color: #4d4c4f;
    text-decoration: none;
  }